*{
    padding: 0;
    margin: 0;
    font-family: 'Josepin Sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg7.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #F88F01;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px   25px;
    text-shadow: 1px 1px #000;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #F88F01;
    transition: 0.3s;
}
.btn{
    background-color: #F88F01;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px   25px;
    border-radius: 30px;
    transition: transform   .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 15px  0px   15px;
    font-size: 55px;
}
h3{
    color: white;
    font-size: 45px;
    margin-bottom: 50px;
}
h4{
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #F88F01;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #F88F01;
    color: white;
    box-shadow: 0px 0px 3px #000, 0px 0px 15px #C8B6A6;
    top: 6px;
    right: 6px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background: #6A492B;
}
.about img{
    height: 100vh;
    width: 450px;
    border-radius: 10px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h6{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 25px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 20px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #E27802;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #F88F01;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.service{
    background: #6A492B;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
#portfolio{
    padding: 50px 50px;
    background-color: #6A492B;
}
h5{
    color: white;
    font-size: 55px;
    text-align: center;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work:hover img{
    transform: scale(1.1);
}
.layer{
    color: white;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #F88F01);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.work:hover .layer{
    height: 100%;
}
.layer h6{
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #E27802;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.contact{
    flex-basis: 60%;
    background-color: #6A492B;
    width: 100%;
    padding: 100px 0px;
}
.contact p{
    color: #E27802;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
}
.contact form{
    width: 100%;
}
form input, form textarea{
    width: 80%;
    border: 0;
    position: center;
    outline: none;
    background: #A2A378;
    padding: 15px;
    margin: 15px;
    color: #fff;
    border-radius: 10px;
}
.footer{
    position: relative;
    width: 100%;
    height: 290px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer p:nth-child(1){
    font-size: 30px;
    color: #F88F01;
    margin-bottom: 20px;
    font-weight: bold;
}
.footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F88F01;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #F88F01;
    bottom: 35px;
    font-size: 14px;
}
